auths:
  sangfor_admin:
    vendor: sangfor
    type: firewall
    username: admin
    password: your-password

  dbapp_api_and_snmp:
    vendor: dbapp
    type: firewall
    token: your-api-token
    snmp_community: public
    snmp_port: 161
